/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    background-image: url('assets/images/pexels-lumn-604969.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* Container styles */
.container {
    position: relative;
    width: 90%; /* Adjust width for responsiveness */
    max-width: 400px; /* Set a maximum width ... ... ... ... */
    padding: 30px;
    margin: 20px auto; /* Center the container */
    background-color: rgba(255, 255, 255, 0.096); /* Adjust the alpha channel for transparency */
    backdrop-filter: blur(10px);
    border-radius: 8px;
    /* box-shadow: .. 0 ... ... 8px 32px 0 rgba(31, 38, 135, 0.37); */
}

.container::before {
    content: '';
    position: absolute;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    background: inherit;
    backdrop-filter: blur(16px);
    border-radius: 24px;
    z-index: -1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Input styles */
.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Button styles */
.forgot-password {
    text-align: right;
    font-size: 14px;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #45a049;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}
